.centered
{
    text-align: center;
}
.container
{
    margin-top: 130px;
}
h1
{
	font-weight: bold;
	font-size: 60px;
}
body
{
    color: #fff;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
	line-height: 200%;
}
p
{
    font-size: 18px;
}
.m i
{ 
    font-size: 44px;
    padding: 10px; 
}


