.centered
{
    text-align: center;
}
.container
{
    margin-top: 70px;
}
body
{
    color: black;
    font-family: 'Lato', sans-serif;
}
p
{
    font-size: 16px;
}
.m i
{ 
    font-size: 40px;
    padding: 10px; 
}


